@import url('reset.css');
@import url('base.css');
@import url('nav.css');

.user-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#user-btn {
    width: 100%;
}

#user-btn:hover {
    transform: scale(1.03);
    transition: .2s;
}

.logout {
    background-color: lightskyblue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s; 
    cursor: pointer;
}

.logout:hover{
    transform: scale(1.2);
}