<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support | DHelper</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="icon" type="image/png" href="../assets/img/Logo dhelper.png">

</head>

<body>
    <header class="flex">
        <nav>
            <h2 class="logo"><a href="./home.html" class="link"> DH<span>elper</span></a></h2>
            <ul>
                <li class="list-item"><a href="./home.html">Lugares</a></li>
                <li class="list-item"><a href="./qumesomos.html">Quem somos</a></li>
                <li class="list-item"><a href="./contatc.html">Contato</a></li>
            </ul>
            <button class="btn logout">Logout</button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><a href="./perfl.html">
                    <path
                        d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z" />
                </a></svg>
        </nav>
    </header>

    <section class="support">
        <div class="content">
            <h2>Em que podemos ajudar?</h2>
            <h3>Entre em contato</h3>
        </div>

        <div class="support-form">
            <h2>Envie seu feedback para nós!</h2>
            <form action="https://formsubmit.co/suportedhelper@gmail.com" method="POST">
                <div class="support-email">
                    <input type="hidden" name="_subject" value="suporte dhelper">
                    <input type="email" name="email" placeholder="Seu E-mail" required>
                </div>
                <div class="feedback">
                    <input type="hidden" name="_next" value="http://127.0.0.1:5501/views/contatc.html">
                    <input type="text" name="message" placeholder="Escreva sua mensagem aqui" required>
                </div>
                <div class="bnt-form">
                    <button class="bnt" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        </div>

        <div class="container">
            <div class="info">
                <div class="support-box">
                    <div class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    <div class="support-item">
                        <h3>Instagram</h3>
                        <p>suporte_dhelper</p>
                    </div>
                </div>
                <div class="support-box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="support-item">
                        <h3>Email</h3>
                        <p>suportedhelper@gmail.com</p>
                    </div>
                </div>
            </div>

    </section>

    <script src="../js/teste.js"></script>


</body>

</html>