<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHelper | Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" type="image/png" href="../assets/img/Logo dhelper.png">
</head>
<body>
    <header class="flex">
        <nav>
            <h2 class="logo"><a href="./home.html" class="link"> DH<span>elper</span></a></h2>
            <div class="input-search">
                <img src="../assets/img/lupa_branca_1-removebg-preview.png" alt="search" width="30px" height="25px">
                <input type="text" placeholder="Busque por locais">
            </div>
            <ul>
                <li class="list-item"><a href="./home.html">Lugares</a></li>
                <li class="list-item"><a href="./qumesomos.html">Quem somos</a></li>
                <li class="list-item"><a href="./contatc.html">Contato</a></li>
            </ul>
            <button class="btn logout">Logout</button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><a href="./perfl.html"><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></a></svg>
        </nav>
    </header>

    <section class="search invisible">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/img/Imagem Jockey Plaza Shopping.PNG" alt="shopping" style="width:350px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Jokey Plaza Shopping</h1>
                <h1>Shopping</h1>
                <p>Deficiencia visual</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia auditiva</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia mental</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia física</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/img/Imagem Shopping Palladium.PNG" alt="shopping" style="width:350px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Shopping Palladium</h1>
                <h1>Shopping</h1>
                <p>Deficiencia visual</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia auditiva</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia mental</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia física</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
              </div>
            </div>
          </div>
            
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/img/taj-bar.jpg" alt="taj-bar" style="width:350px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Taj-Bar</h1>
                <h1>Restaurante</h1>
                
                <p>Deficiencia auditiva</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia mental</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia física</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
              </div>
            </div>
          </div>


          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/img/teatro-positivo.webp" alt="teatro" style="width:350px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Teatro Positivo</h1>
                <h1>Ponto Turístico</h1>
                <p>Deficiencia visual</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia auditiva</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia mental</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia física</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/img/teatro-guaira.jfif" alt="teatro" style="width:350px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Teatro Guaíra</h1>
                <h1>Ponto Turístico</h1>
                <p>Deficiencia visual</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia auditiva</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia mental</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia física</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/img/museu-oscar.jpg" alt="teatro" style="width:350px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Museu Oscar Niemeyer</h1>
                
                <h1>Ponto Turístico</h1>
                <p>Deficiencia visual</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia auditiva</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia mental</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
                <p>Deficiencia física</p>
                <img src="../assets/img/check-removebg-preview.png" alt="Check" width="15px">
              </div>
            </div>
          </div>

    </section>


    <script src="../js/teste.js"></script>
    <script src="../js/shopping_selection.js"></script>
</body>
</html>