<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support | DHelper</title>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/we.css">
    <link rel="icon" type="image/png" href="../assets/img/Logo dhelper.png">
</head>
<body>
    <header class="flex">
        <nav>
            <h2 class="logo"><a href="./home.html" class="link"> DH<span>elper</span></a></h2>
            <ul>
                <li class="list-item"><a href="./home.html">Lugares</a></li>
                <li class="list-item"><a href="./qumesomos.html">Quem somos</a></li>
                <li class="list-item"><a href="./contatc.html">Contato</a></li>
            </ul>
            <button class="btn logout">Logout</button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><a href="./perfl.html"><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></a></svg>
        </nav>
    </header>

    <div class="info">
        <ul id="list">
            <li>
                Somos uma empresa autônoma que estava em busca de uma ideia que poderia ajudar uma minoria trazendo mais acessibilidade há essas pessoas. Pensando em problemas atuais da sociedade, nossa equipe decidiu que nosso site teria o objetivo de ajudar e deixar mais acessível a vida de indivíduos com deficiência. Com esse propósito, surgiu o DHelper, onde você Descobre lugares acessíveis evitando a frustração de ir a um local que não possui a estrutura e preparo adequado em Curitiba.
            </li>
        </ul>
    </div>
    <div class="pictures">
        <div class="picture">
            <div class="imgs">
                <img src="../assets/img/rapholas.jfif" alt="">
            </div>
            <div class="picture-content">
                <p>Raphael</p>
                <br>
                <p>DBA</p>
            </div>
        </div>
        <div class="picture">
            <div class="imgs">
                <img src="../assets/img/tigas.jfif" alt="">
            </div>
            <div class="picture-content">
                <p>Tiago</p>
                <br>
                <p>Back-end</p>
            </div>
        </div>
        <div class="picture">
            <div class="imgs">
                <img src="../assets/img/maia.jfif" alt="">
            </div>
            <div class="picture-content">
                <p>Luis</p>
                <br>
                <p>Front-end</p>
            </div>
        </div>
        <div class="picture">
            <div class="imgs">
                <img src="../assets/img/ottada.jfif" alt="">
            </div>
            <div class="picture-content">
                <p>Otto</p>
                <br>
                <p>Back-End</p>
            </div>
        </div>
    </div>

    <script src="../js/teste.js"></script>
</body>