<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso | DHelper</title>
    <link rel="stylesheet" href="../css/all.css">
  <link rel="icon" type="image/png" href="assets/img/Logo dhelper.png">
</head>
<body>
    <div class="container">
        <h1>Termos de uso</h1>
        <center><img src="../assets/img/Logo_dhelper-removebg-preview.png" alt="Logo" class="center"></center>
        <H2>Os serviços DHelper</H2>
        <p>
        Concordamos em fornecer a você o Serviço do DHelper. O Serviço inclui todos os produtos, recursos, aplicativos, serviços,
         tecnologias e software do DHelper que fornecemos para promover a missão do DHelper: fortalecer seus relacionamentos com as pessoas
          e com as coisas que você adora. O Serviço é composto pelos seguintes aspectos:
        </p>
        <ul>
            <li>
        	Oferecer oportunidades personalizadas de criar, conectar, comunicar, descobrir e compartilhar.
            </li>
        
            <p>
                As pessoas são diferentes. Queremos fortalecer seus relacionamentos por meio de experiências compartilhadas realmente importantes para você.
                 Por isso, desenvolvemos sistemas que tentam entender com quem e com o que você e as outras pessoas se importam, e usamos essas informações
                  para ajudá-lo a criar, encontrar, compartilhar e participar de experiências importantes para você. Parte do que fazemos é destacar conteúdo, recursos, ofertas e contas que possam 
                ser de seu interesse e oferecer formas para você experimentar o DHelper, com base no que você e as outras pessoas 
                fazem dentro e fora do DHelper.
            </p>
     
         <li>
        	Promover um ambiente seguro, inclusivo e positivo.
         </li>
     
         <p>
         Desenvolvemos e usamos ferramentas e oferecemos para os membros de nossa comunidade recursos que contribuem para tornar as experiências
          deles positivas e inclusivas, inclusive quando achamos que eles podem precisar de ajuda. Também temos equipes e sistemas que
          trabalham para combater abusos e violações de nossos Termos e políticas, bem como condutas enganosas e prejudiciais. Usamos todas as
          informações que temos, inclusive suas informações, para tentar manter nossa plataforma segura. Também podemos compartilhar informações 
          sobre uso inadequado ou conteúdo prejudicial com outras Empresas da Meta ou autoridades
           responsáveis pela aplicação da lei. Saiba mais na Política de Dados.
         </p>
  
         <li>
        	Desenvolver e usar tecnologias que nos ajudam a servir consistentemente nossa crescente comunidade.
         </li>
    
         <p>
             Organizar e analisar informações para nossa crescente comunidade é essencial para nosso Serviço. Uma grande parte de nosso Serviço é criar
             e usar tecnologias de última geração que nos ajudam a personalizar, proteger e aprimorar o Serviço em uma escala incrivelmente grande
             para uma ampla comunidade global. Tecnologias como inteligência artificial e aprendizado de máquina nos possibilitam utilizar 
             processos complexos em nosso Serviço. Tecnologias automatizadas também nos ajudam a garantir a funcionalidade e integridade de nosso Serviço.
         </p>
    
          <li>
            Fornecer experiências consistentes e contínuas em outros Produtos das Empresas da Meta.
          </li>
    
        <p>
        
       </p>
    
            <li>
                Garantir acesso ao nosso Serviço.
             </li>
   
        <p>
              Para operar nosso Serviço global, precisamos armazenar e transferir dados entre nossos sistemas ao redor do mundo, inclusive fora de seu país de residência. O uso dessa infraestrutura global é necessário e essencial para fornecer nosso Serviço. Essa infraestrutura pode pertencer ou ser operada pela Meta Platforms, Inc., Meta Platforms Ireland Limited ou suas afiliadas.
         </p>

    
         <li>
        	Conectar você com marcas, produtos e     serviços de maneiras importantes para você. 
         </li>
     
         <p>
             importantes para você.
              Usamos dados do dhelper e de outros Produtos das Empresas da Meta, bem como de parceiros, para exibir a você anúncios, ofertas e outros conteúdos patrocinados que acreditamos ser significativos para você. E tentamos fazer com que esse conteúdo seja tão relevante quanto todas as suas outras experiências no dhelper.
	          Pesquisa e inovação.
              Usamos as informações que temos para estudar nosso Serviço e colaborar com terceiros em pesquisas para tornar nosso Serviço melhor e contribuir para o bem-estar de nossa comunidade.

         </p>
        </ul>
    </div>
</body>
</html>